<%- include('component/head.ejs'); %>
<%- include('component/header.ejs'); %>

<main class="container indexPage">

    <h1>Movie dates</h1>
    <h2>Onmoet nieuwe flim en serie liefhebbers in de buurt voor een <span>serieuze relatie.</span></h2>

    <img src="images/movie-date.jpg" alt="">

    <p>Al meer dan <span><%= data %></span> gebruikers waren je voor.</p>

    <a href="../register" class="button">Registreer</a>
    <a href="../login">Or log-in</a>
</main>

<script src="main.js"></script>

<%- include('component/footer.ejs'); %>


