<%- include('component/head.ejs'); %>
<%- include('component/header.ejs'); %>

<main class="container">
    <h1>Movie dates</h1>
    <h2>Onmoet nieuwe flim en serie liefhebbers in de buurt voor een <span>serieuze relatie.</span></h2>

    <p>Al meer dan <span>9</span> gebruikers waren je voor.</p>

    <a href="../register" class="button">Registreer</a>
    <a href="../login">Or log-in</a>
</main>

<script src="main.js"></script>

<%- include('component/footer.ejs'); %>


