<%- include('../component/head.ejs'); %>
<%- include('../component/header.ejs'); %>

<main class="container">
    <h1>Gesprekken</h1>

    <p>All your matches</p>
</main>

<%- include('../component/footer.ejs'); %>