<%- include('../component/head.ejs'); %>
<%- include('../component/header.ejs'); %>

<main class="container">
    <h1>No credentials for this page <3</h1>
</main>

<script src="main.js"></script>

<%- include('../component/footer.ejs'); %>

