<%- include('../component/head.ejs'); %>
<%- include('../component/header.ejs'); %>

<main class="container">
    <h1>Tickets</h1>

    <p>Tickets send</p>

    <p>Tickets received</p>
</main>

<%- include('../component/footer.ejs'); %>

