<header>
    <a href="/">Movie dates</a>
    <ul>
        <% if (user) { %>
        <li>
            <a href="../account">Hello <%= user.username %></a>
        </li>
        <li>
            <a href=../log-out>Log out</a>
        </li>
        <% } else { %>
        <li>
            <a href="../login">Log-in</a>
        </li>
        <li>
            <a href="../register">Register</a>
        </li>
        <% } %>
    </ul>
</header>
