.user-profile {
  max-width: 500px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  section {
    .profile-image {
      margin-bottom: 1rem;
      max-height: 400px;
      overflow: hidden;
      max-width: 400px;
      width: 100%;
    }
    h2 {
      font-weight: bold;
      text-align: center;
    }
    .place {
      justify-content: center;
      display: flex;
      align-items: center;
      img {
        margin-right: .5rem;
        height: 15px;
        width: 15px;
      }
    }
    ul {
      margin-bottom: 1rem;
      li {
        margin-bottom: .5rem;
        span {
          font-weight: bold;
        }
      }
    }
    p {
      span {
        font-weight: bold;
        color: $darkGrey;
      }
    }
  }
  .created {
    color: $lightGrey;
    font-size: .8rem;
  }
}
