<%- include('../component/head.ejs'); %>
<%- include('../component/header.ejs'); %>
<main class="container">
    <h1>Log in</h1>

    <form action="/loginUser" method="post">
        <fieldset>
            <legend>Log-in</legend>
            <input name="username" type="text" placeholder="email">
            <input name="password" type="password">
            <button>Submit</button>
        </fieldset>
    </form>


</main>
<%- include('../component/footer.ejs'); %>

