<%- include('../component/head.ejs'); %>
<%- include('../component/header.ejs'); %>
<main class="container">
    <h2>Log in</h2>
    <% if (error) { %>
    <h3 class="error"><%= error %></h3>
    <% } %>
    <form action="/loginUser" method="post">
        <fieldset>
            <label for="email">Gebruikersnaam</label>
            <input id="email" name="email" type="email" placeholder="Emailadres" required>

            <label for="password">Wachtwoord</label>
            <input id="password" name="password" type="password" placeholder="******" required>
            <button class="button">Submit</button>
        </fieldset>
    </form>

    <a href="../register">Geen account?</a>
</main>

<%- include('../component/footer.ejs'); %>
