<%- include('../component/head.ejs'); %>
<%- include('../component/header.ejs'); %>
<main class="container">
    <h1>Register</h1>
    <form action="/" method="post">
        <fieldset>
            <legend>Register</legend>
            <input type="text" placeholder="email">
            <input type="password">
            <button>Submit</button>
        </fieldset>
    </form>
</main>
<%- include('../component/footer.ejs'); %>

