<%- include('../component/head.ejs'); %>
<%- include('../component/header.ejs'); %>

<main class="container">
    <h1>Register</h1>
    <form action="/registerUser" method="post">
        <fieldset>
            <legend>Register</legend>
            <input type="text" placeholder="Email" name="email"><br>

            <input type="text" placeholder="Voornaam" name="nameFirst"><br>
            <label><input name='nameLast' type="text" placeholder="Achternaam">Achternaam</label><br>

            <label><input name='password' type="password">Password</label><br>
            <br>
            <label><input type="radio" name="gender" value="male"> Male</label>
            <label><input type="radio" name="gender" value="female"> Female</label>

            <button>Submit</button>
        </fieldset>
    </form>
</main>

<%- include('../component/footer.ejs'); %>

