<%- include('../component/head.ejs'); %>
<%- include('../component/header.ejs'); %>
<main class="container">

    <h2>Registreer</h2>
    <form action="/registerUser" method="post" enctype="multipart/form-data">

        <fieldset>
            <label for="nameone">Voornaam</label>
            <input id="nameone" name="first" type="text" placeholder="Voornaam" required>

            <label for="nametwo">Achternaam</label>
            <input id="nametwo" name="last" type="text" placeholder="Achternaam" required>

            <label for="email">Email</label>
            <input id="email" name="email" type="email" placeholder="naam@email.nl" required>
        </fieldset>

        <fieldset>
            <label for="password">Voer je wachtwoord in</label>
            <input type="password" id="password" name="password" placeholder="Wachtwoord" required>

            <label for="passwordAgain">Herhaal wachtwoord</label>
            <input type="password" id="passwordAgain" name="passwordAgain" placeholder="Herhaal wachtwoord" required>

            <div id="safemeter">
              <div id="safebar"></div>
            </div>
            <p id="safetext"></p>
        </fieldset>

        <fieldset>
            <h3>Algemene informatie over jezelf</h3>

            <label for="age">Leeftijd</label>
            <input id="age" type="number" name="age" placeholder="18" required>

            <label for="gender">Geslacht</label>
            <label class="radio"><input type="radio" name="gender" value="male">Man</label>
            <label class="radio"><input type="radio" name="gender" value="female">Vrouw</label>

            <label for="place">Woonplaats</label>
            <input id="place" name="place" type="text" required placeholder="Amsterdam">
        </fieldset>

        <fieldset>
            <h3>Waar ben je naar opzoek</h3>

            <label class="radio"><input type="radio" name="sex" value="male">Man</label>
            <label class="radio"><input type="radio" name="sex" value="female">Vrouw</label>

            <label for="preference">Tussen welke leeftijd?</label>
            <input type="number" name="ageMin" placeholder="18" min="18" required>en
            <input type="number" max="110" name="ageMax" required>
        </fieldset>

        <fieldset>
            <h3>Maak het persoonlijker</h3>

            <label for="study">Wat studeer je?</label>
            <input id="study" name="study" type="text" placeholder="Communicatie multimedia design">

            <label for="work">Waar werk je?</label>
            <input id="work" name="work" type="text" placeholder="Albert Heijn medewerker">
        </fieldset>

        <fieldset>
            <h3>Kies je favoriete films</h3>
            <p>Dit wordt gebruikt om onze matchmaking machine te gebruiken</p>

            <label for="movie">Zoek een film</label>
            <input id="movieone" name="movieOne" type="text" placeholder="Lord of the rings">

            <input id="movietwo" name="movieTwo" type="text" placeholder="Star wars">
        </fieldset>

        <fieldset>
            <h3>Wil je nog wat kwijt over jezelf?</h3>
            <textarea name="additional" cols="40" rows="5"></textarea>
        </fieldset>

        <fieldset>
            <h3>Maak het af met een mooie foto over jezelf</h3>
            <input name="cover" type="file" accept="image/*">
        </fieldset>
        <button class="button">Registeer je account</button>
    </form>
</main>


<%- include('../component/footer.ejs'); %>

<script src="passwordchecker.js"></script>
