@import "_standard/reset.scss";

@import "colors/primary.scss";


@import "item/input.scss";
@import "item/text-headers.scss";
@import "item/container.scss";
@import "item/anchor.scss";
@import "item/button.scss";

@import "component/header.scss";
@import "component/footer.scss";

@import "component/dashboard.scss";
@import "component/front.scss";
@import "component/user-card.scss";
@import "component/user-profile.scss";


@import "_standard/fonts.scss";

#safemeter {
  height: 10px;
  width: 200px;
  margin-bottom: .3rem;
  #safebar {
    transition: all .2s;
    height: 100%;
    width: 100%;
    background-color: red;
  }
}
